header {
    background-color: antiquewhite;
}

h1 {
    color: gray;
    text-align: center;
}
 img {
     width:370px;
 }
 nav ul li{
     display: inline;

     }
     main article section p{
         color: indigo;
     }


